<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>universal react.</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title> universal react application </title>
  </head>

  <body>
    <div id="credits">https://24ways.org/2015/universal-react/</div>
    
    <div id="app">
      <%- markup %>
    </div>
    <script src="build.js"></script>
  </body>
</html>
